
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

td, th, tr {
  border: 1px solid #ddd;
  padding: 8px;
  color: darkblue;
}